<template>
  <div class="container">
    <h1> Please Enter Your Shaba Number</h1>
    <input ref="shaba" v-model="shabaNumber" type="text">
    <button @click=" checkShabaNumber">
      Check Shaba Number
    </button>
  </div>
</template>
<script>
export default {
  data () {
    return {
      shabaNumber: ''
    }
  },
  methods: {
    checkShabaNumber () {
      const shabaRegex = /^(?:IR)(?=.{24}$)[0-9]*$/
      if (shabaRegex.test(this.shabaNumber)) {
        const id = setTimeout(() => {
          this.$refs.shaba.style.borderColor = 'green'
          clearTimeout(id)
        }, 60000)
      } else {
        const idd = setTimeout(() => {
          this.$refs.shaba.style.borderColor = 'red'

          clearTimeout(idd)
        }, 60000)
      }
    }
  }
}
</script>
<style>
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
input{
  padding: 16px;
  width: 70%;
  margin: auto;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}
  button{
    color: #fff;
    background-color: #dc3545;
    width: 20%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    margin: 20px auto;
  }
  h1{
    text-align: center;
    margin: 50px;
  }
</style>
